@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --xGreen: 0, 170, 69;
  --xDarkGreen: 30, 135, 75;
  --xGray: 106, 115, 125;
  --xDarkGray: 68, 77, 86;
  --xDisable: 246, 248, 250;
}
